<!-- NAVIGATION -->
<% include partials/navbar %>

<!-- BODY -->
<main role="main" class="container-fluid flex-fill">
  <div class="container-fluid">
    <table class="table table-striped table-dark table-hover table-hover-cursor">
      <thead class="thead-dark">
        <tr>
          <th scope="col"></th>
          <th scope="col">Product Name</th>
          <th scope="col">Vendor</th>
          <th scope="col">Current Price</th>
          <th scope="col">Availability</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <!--NOTE: index i,j is required to create unique modals for each item list-->
        <% items.forEach( (item, i) => { item.vendors.forEach( (vendor, j) => { %>
        <tr>
          <td>
            <a href="<%= vendor.url %>" target="_blank">
              <img src="<%= item.imageURL %>">
            </a>
          </td>
          <td class="text-truncate">
            <a href="<%= vendor.url %>" target="_blank"><%= item.name %> </a>
          </td>
          <td><%= vendor.vendorName %></td>
          <td>$ <%= vendor.currentPrice %></td>
          <td><%= item.availability ? "In stock" : "Out of stock" %></td>
          <td>
            <button type="button" class="btn btn-secondary" data-toggle="modal"
              data-target="#unsubscribeModal-<%=i%>-<%=j%>">
              Unsubscribe
            </button>
            <!-- SUBSCRIBE MODAL -->
            <% include ./partials/unsubscribeModal %>
          </td>
        </tr>
        <% }) }) %>
      </tbody>
    </table>
  </div>
</main>

<!-- FLOATING BUTTON -->
<% include partials/floatingButton %>

<!-- FOOTER -->
<% include partials/footer %>