<!-- NAVIGATION -->
<% include partials/navbar %>

<!-- Begin page content -->
<main role="main" class="container-fluid flex-fill">
  <div class="container">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Product Name</th>
          <th scope="col">Vendor</th>
          <th scope="col">Current Price</th>
          <th scope="col">Availability</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <!--NOTE: index i,j is required to create unique modals for each item list-->
        <% items.forEach( (item, i) => { item.vendors.forEach( (vendor, j) => { %>
        <tr>
          <td>
            <a href="<%= vendor.url %>" target="_blank"><%= item.name %> </a>
          </td>
          <td><%= vendor.vendorName %></td>
          <td><%= vendor.currentPrice %></td>
          <td><%= item.availability ? "In stock" : "Out of stock" %></td>
          <td>
            <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#subscribeModal-<%=i%>-<%=j%>">
              Subscribe
            </button>
            <!-- SUBSCRIBE MODAL -->
            <% include ./partials/subscribeModal %>
          </td>
        </tr>
        <% }) }) %>
      </tbody>
    </table>
  </div>
</main>

<!-- FOOTER -->
<% include partials/footer %>